# Ignore virtual environment
venv/

# Ignore all .mp4 files
*.mp4

# Ignore all .dll and .pyd files
*.dll
*.pyd

# Ignore Windows desktop.ini files
desktop.ini

# Ignore Python cache files
__pycache__/
*.pyc


